.chip {
    -fx-background-color: #dbdbdb;
    -fx-background-radius: 20;
    -fx-spacing: 5;
    -fx-alignment: center-left;
    -fx-padding: 8px;
    -fx-border-insets: 3px;
    -fx-background-insets: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 10, 0.16, 0, 4);
}

.chip .jfx-button {
    -fx-background-color: #A6A6A6;
    -fx-pref-width: 20;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: 20;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-background-radius: 15;
}

.chip .jfx-button .jfx-rippler{
    -jfx-rippler-fill: BLACK;
}

.chip .label{
    -fx-alignment: center;
    -fx-content-display: center;
}

.chip-container {
    -fx-padding: 5;
    -fx-spacing: 5;
    -fx-background-color: -fx-background;
}